<section class="section">
  <div class="container">
    <h3>{{t 'documents.add'}}</h3>
    {{#link-to 'manage.upload' class="button is-primary is-medium" }}
      {{t 'files.upload'}}
    {{/link-to}}
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>{{t 'documents.unverified-latest'}}</h3>
    {{#each model.documents as |document|}}
      {{document-entry document}}
    {{else}}
      <i>{{t 'documents.unverified-none'}}</i>
    {{/each}}

    {{#if (compare model.documents.meta.pagination.count '>' 5)}}
      <p>
        {{#link-to 'manage.unverified' class="button is-link" }}
          {{t 'documents.unverified-all'}}
        {{/link-to}}
      </p>
    {{/if}}
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>{{t 'files.without-latest'}}</h3>
    {{#each model.files as |file|}}
      {{file-entry file}}
    {{else}}
      <i>{{t 'files.without-none'}}</i>
    {{/each}}

    {{#if (compare model.files.meta.pagination.count '>' 5)}}
      <p>
        {{#link-to 'manage.files' class="button is-link" }}
          {{t 'files.without-all'}}
        {{/link-to}}
      </p>
    {{/if}}
  </div>
</section>
