<section class="section">
  <div class="container">
    <h3>{{t 'files.upload-documents'}}</h3>
    <p>{{t 'files.upload-info'}}</p>

    <label class="label">{{t 'files.upload-create-documents'}}</label>
    <p class="control">
      {{#radio-button value=null groupValue=documentType class="radio" }}
        {{t 'files.upload-create-documents-false'}}
      {{/radio-button}}
      {{#each joda.features as |feature|}}
        {{#radio-button value=feature.id groupValue=documentType class="radio" }}
          {{feature.title}}
        {{/radio-button}}
      {{/each}}
    </p>

    <label class="label">{{t 'files.files'}}</label>
    <p class="control">{{file-upload action="uploadCompleted" errorMessage=errorMessage progress=progress documentType=documentType }}</p>
    <p>&nbsp;</p>

    {{#if errorMessage}}
      <progress class="progress is-danger" value="{{progress}}" max="100">{{progress}}%</progress>
    {{else}}
      <progress class="progress is-primary" value="{{progress}}" max="100">{{progress}}%</progress>
    {{/if}}

    {{#if errorMessage}}
      <div class="notification is-danger">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
</section>
