<div class="container">
  <nav class="level">
    <div class="level-left">
      <div class="level-item has-special-links">
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{joda.copyright}}
        {{/if}}
        <br>
        {{#if joda.branded}}{{joda.appName}} powered{{else}}Powered{{/if}} by Joda {{joda.versionFrontend}}
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-special-links">
        {{#each joda.links as |link|}}
          {{#link-to link.id activeClass="" }}
            {{link.title}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </nav>
</div>
