<section class="section">
  <div class="container">
    <h3>Edit account settings</h3>
    <form id="account-edit" {{action "save" on="submit"}}>
      <div class="block">
        <h4>Basic info</h4>
        <label class="label">First name</label>
        <p class="control">
          {{input class="input" type="text" value=model.firstName}}
        </p>
        <label class="label">Last name</label>
        <p class="control">
          {{input class="input" type="text" value=model.lastName}}
        </p>
      </div>

      <div class="block">
        <h4>Avatar</h4>
        <p class="control">
          <label class="checkbox">
            {{input type="checkbox" checked=model.remoteAvatar}}
            Enable Gravatar avatar support
          </label>
        </p>
      </div>

      <p class="control">
        <button class="button is-primary" type="submit">
          <span class="icon is-small">
            {{fa-icon "check"}}
          </span>
          <span>Save</span>
        </button>
        <a class="button is-link" {{action "cancel"}}>
          <span class="icon is-small">
            {{fa-icon "times"}}
          </span>
          <span>Cancel</span>
        </a>
      </p>
    </form>
  </div>
</section>
