<section class="section">
  <div class="container">
    <h3>{{t 'account.settings-edit'}}</h3>
    <form id="account-edit" {{action "save" on="submit"}}>
      <div class="block">
        <h4>{{t 'account.basic-info'}}</h4>
        <label class="label">{{t 'account.first-name'}}</label>
        <p class="control">
          {{input class="input" type="text" value=model.firstName}}
        </p>
        <label class="label">{{t 'account.last-name'}}</label>
        <p class="control">
          {{input class="input" type="text" value=model.lastName}}
        </p>
      </div>

      <div class="block">
        <h4>{{t 'account.locale'}}</h4>
        <p class="control has-icons-left">
          {{#single-select options=locales selected=locale allowClear=false searchField="text" onchange=(action 'chooseLocale') as |l| }}
            {{l.text}}
          {{/single-select}}
          <span class="icon is-left">{{fa-icon "language"}}</span>
        </p>
      </div>

      <div class="block">
        <h4>{{t 'account.avatar'}}</h4>
        <p class="control">
          <label class="checkbox">
            {{input type="checkbox" checked=model.remoteAvatar}}
            {{t 'account.gravatar-enable'}}
          </label>
        </p>
      </div>

      <p class="control">
        <button class="button is-primary" type="submit">
          <span class="icon is-small">
            {{fa-icon "check"}}
          </span>
          <span>{{t 'common.save'}}</span>
        </button>
        <a class="button is-link" {{action "cancel"}}>
          <span class="icon is-small">
            {{fa-icon "times"}}
          </span>
          <span>{{t 'common.cancel'}}</span>
        </a>
      </p>
    </form>
  </div>
</section>
