<div class="hero-head">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        {{#link-to 'index' class="navbar-item navbar-title" activeClass="" }}
          <span class="logo"></span> {{joda.appName}}
        {{/link-to}}

        <div class="navbar-burger burger" data-target="navmenu-main" {{action 'toggleHamburger'}}>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navmenu-main" class="navbar-menu">
        <div class="navbar-end">
          {{#each joda.links as |link|}}
            {{#link-to link.id class="navbar-item" activeClass="is-active" }}
              {{link.title}}
            {{/link-to}}
          {{/each}}

          {{#link-to 'manage' class="navbar-item" activeClass="is-active" }}
            {{t 'common.manage'}}
          {{/link-to}}

          {{#if session.isAuthenticated}}
            <div class="navbar-item navbar-user has-dropdown is-hoverable">
              {{#link-to 'account' class="navbar-item" activeClass="" }}
              {{#if currentUser.user.hasAvatar}}
                <span class="icon icon-avatar is-hidden-touch" style="{{currentUser.user.gravatarSmallBkg}}"></span>
              {{/if}}
                {{currentUser.user.displayName}}
              {{/link-to}}

              <div class="navbar-dropdown is-boxed">
                {{#link-to 'account.index' class="navbar-item" activeClass="is-active" }}
                  {{t 'account.information-user'}}
                {{/link-to}}
                {{#link-to 'account.edit' class="navbar-item" activeClass="is-active" }}
                  {{t 'account.settings-edit'}}
                {{/link-to}}
                <a class="navbar-item" {{action 'invalidateSession'}}>
                  {{t 'account.logout'}}
                </a>
              </div>
            </div>
          {{else}}
            {{#link-to 'login' class="navbar-item navbar-user" activeClass="is-active" }}
              {{t 'account.login'}}
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    </nav>
  </div>
</div>

{{#if title}}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{title}}
      </h1>
      {{#if subtitle}}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if hasBlock}}
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container is-auto-centered">
        <ul>
          {{yield}}
        </ul>
      </div>
    </nav>
  </div>
{{/if}}
