<div class="container">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{joda.copyright}}
        {{/if}}
        <br>
        {{#if joda.branded}}{{joda.appName}} powered{{else}}Powered{{/if}} by <a href="https://joda.tano.si" target="_blank">Joda</a> {{joda.versionFrontend}}
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-special-links">
        {{#each joda.links as |link|}}
          {{#link-to link.id activeClass="" }}
            {{t link.title}}
          {{/link-to}}
        {{/each}}
        <a href="{{joda.backendUri}}/admin/">{{t 'common.admin'}}</a>
      </div>
    </div>
  </nav>
</div>
