<div class="hero-head">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        {{#link-to 'index' class="nav-item nav-title is-active" activeClass="" }}
          <span class="logo"></span> {{joda.appName}}
        {{/link-to}}
      </div>
      <span class="nav-toggle">
          <span></span><span></span><span></span>
      </span>
      <div class="nav-right nav-menu">
        {{#each joda.links as |link|}}
          {{#link-to link.id class="nav-item" activeClass="is-active" }}
            {{link.title}}
          {{/link-to}}
        {{/each}}

        {{#link-to 'manage' class="nav-item" activeClass="is-active" }}
          Manage
        {{/link-to}}

        {{#if session.isAuthenticated}}
          <a class="nav-item" {{action 'invalidateSession'}}>Logout {{currentUser.user.username}}</a>
        {{else}}
          {{#link-to 'login' class="nav-item" activeClass="is-active" }}Login{{/link-to}}
        {{/if}}
      </div>
    </div>
  </header>
</div>

{{#if title}}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{title}}
      </h1>
      {{#if subtitle}}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if hasBlock}}
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container is-auto-centered">
        <ul>
          {{yield}}
        </ul>
      </div>
    </nav>
  </div>
{{/if}}
