<div class="media-content">
  <div class="content">
    <p>
      <strong>{{file.name}}</strong> <small class="is-primary">{{file.fileType}}</small>
      <br>
      <small>documents: {{file.documentCount}} · uploaded at: {{moment-format file.created_at}}</small>
    </p>
  </div>
</div>
<div class="media-right has-text-centered">
  {{file-icon-link file}}
</div>
