<div class="media-content">
  <div class="content">
    <p>
      <strong>{{file.name}}</strong> <small class="is-primary">{{file.fileType}}</small>
      <br>
      <small>{{t 'documents.plural'}}: {{file.documentCount}} · {{t 'common.uploaded-at'}}: {{moment-format file.createdAt}}</small>
    </p>
  </div>
</div>
<div class="media-right has-text-centered">
  {{file-icon-link file}}
</div>
