<nav class="panel">
  <p class="panel-heading">
    {{t 'common.filter-sort'}}
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      {{input class="input" type="text" placeholder=(t 'common.search') value=search}}
      <span class="icon is-left">{{fa-icon "search"}}</span>
    </p>
  </div>

  {{yield}}

  <div class="panel-block">
    <p class="control has-icons-left">
      {{#single-select options=sortTypes selected=sortSelected placeholder=(t 'common.sort') searchField="name" onchange=(action (mut sortSelected)) as |sort| }}
        {{t sort.name}}
      {{/single-select}}
      <span class="icon is-left">{{fa-icon "sort"}}</span>
    </p>
  </div>

  <div class="panel-block">
    <button class="button is-primary is-outlined is-fullwidth is-small" {{action "reset"}}>
      {{t 'common.filter-reset'}}
    </button>
  </div>
</nav>
