<div class="file-view">
  <section class="hero is-primary has-gradient">
    <div class="hero-body">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            {{model.name}}
          </div>
        </div>

        <div class="level-right">
          <form class="level-item" method="POST" action="{{downloadEndpoint}}">
            <input type="hidden" name="token" value="{{downloadToken}}">
            <button type="submit" title="Download" class="button is-large is-primary is-inverted is-outlined">
              <span class="icon is-medium">
                {{fa-icon "download"}}
              </span>
            </button>
          </form>
        </div>
      </nav>
    </div>
  </section>
  {{#if model.isImage}}
    {{image-viewer image=fileNameInline}}
  {{else}}
    <div class="object-wrapper">
      <object width="100%" height="100%" type="{{model.mimeType}}" data="{{fileNameInline}}">
        <p>{{t 'common.error.pdf-plugin'}}</p>
      </object>
    </div>
  {{/if}}
</div>
