{{common-header title="About"}}

<section class="section">
  <div class="container content is-medium">
    <p>
      {{#if joda.branded}}{{joda.appName}}{{else}}This web page{{/if}} is powered by <strong>Joda</strong> {{joda.versionFrontend}} and <strong>Joda Backend</strong> {{joda.versionBackend}}.</p>

    <h3>Features</h3>
    <ul>
      {{#each joda.features as |feature|}}
        <li><strong>{{feature.title}}</strong> (frontend: {{feature.versionFrontend}}, backend: {{feature.versionBackend}})</li>
      {{/each}}
    </ul>
  </div>
</section>

{{common-footer}}
